.header-image {
  background-color: #0a397a;
  height: 10vw;
}

.outer-spacing {
  padding-top: 2.5%;
}

.header-title-outer {
  background-color: #ffc107;
  width: 20%;
}

.header-title {
  font-weight: 900;
  font-size: 2vw;
  color: #0a397a;
  text-align: center;
}

/* for mobile and tablet screens */
@media only screen and (max-width: 1200px) {
  /* spacing for logo */
  .outer-spacing {
    padding-top: 4vh;
  }

  .header-title-outer {
    width: 20vw;
    height: 60px;
  }

  /* label text */
  .header-title {
    font-size: 2vw;
  }
}

/* for mobile phones */
@media only screen and (max-width: 1024px) {
  .header-image {
    background-color: #0a397a;
    height: 20vh;
  }

  .header-title-outer {
    width: 20vh;
    height: 60px;
  }

  .header-title {
    padding-top: 10%;
  }
}
