.row {
  padding-left: 0%;
}

.links-alignment {
  text-align: center;

  padding: 3%;
}

/* links css */
.links {
  color: black;
}

.links:hover {
  text-decoration: none;
  /* color: #ffc107; */
  color: red;
}

.quick-icons {
  transition: transform 0.4s;
}
.quick-icons:hover {
  /* color: #ffc107; */
  color: red;

  transform: scale(1.2);
}

h3 {
  font-size: 1.5em;
  margin-top: 5%;
}
